{% extends "base.html" %}

{% block content %}
    <div id="form">
        <h2 id="finish-label">Change password</h2>
        <h3 id="info-label">Введите старый пароль для подтверждения смены пароля</h3>
        <form action="" method="post" class="form" novalidate>
            {{ form.hidden_tag() }}
            {{ form.password.label }}<br>
            {{ form.password(class="form-control", id="form-field", type="password") }}<br>
            <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
            {% if alert != "" %}
            <div class="alert alert-danger" role="alert">
                {{ alert }}
            </div>
            {% endif %}
        </form>

    </div>
{% endblock %}