{% extends "base.html" %}

{% block content %}
    <div class="container justify-content-center" id="dialog">
        <div class="row row-cols-auto justify-content-center" id="member-line">
            {% if avatar != "" %}
                <img src={{avatar}} class="rounded" id="member-image-3">
            {% endif %}
            <div class="col"><h3 id="mem"><a class="nav-btn" href="/profile/{{shortname}}">{{ member }}</a></h3><h5>{{last_seen}}</h5></div>
        </div>
        <div data-bs-spy="scroll" data-bs-target="#navbar-example" data-bs-offset="0" class="scrollspy" id="scrl" tabindex="0">
            <div class="d-flex justify-content-center" id="first-alert">
                <h4>Dialog</h4>
            </div>
            {% for i in messages %}
                {% if messages[i]["user"] == current_user.id %}
                    <div class="d-flex justify-content-end">
                          <div class="container">
                              <div class="row justify-content-md-end">
                                <div class="col-md-auto" style="max-height: 31px;">
                                    <p class="custom-p">{{ messages[i]["name"] }}</p>
                                </div>
                              </div>
                              <div class="row justify-content-md-end">
                                <div class="col-auto" style="width: 50%;">
                                  <p class="mb-100">{{ messages[i]["text"] }}</p>
                                </div>
                                <div class="col-md-auto" style="max-height: 31px;max-width: 31px;padding: 0px;">
                                    <img src ="{{ messages[i]['avatar'] }}" id="member_avatar">
                                </div>
                              </div>
                            </div>
                    </div>
                {% else %}
                      <div class="d-flex justify-content-start">
                          <div class="container">
                              <div class="row justify-content-md-start">
                                <div class="col-md-auto" style="max-height: 31px;">
                                    <p class="custom-p">{{ messages[i]["name"] }}</p>
                                </div>
                              </div>
                              <div class="row justify-content-md-start">
                                <div class="col-md-auto" style="max-height: 31px;max-width: 31px;padding: 0px;">
                                    <img src ="{{ messages[i]['avatar'] }}" id="member_avatar">
                                </div>
                                <div class="col-auto" style="width: 50%;">
                                  <p class="mb-100">{{ messages[i]["text"] }}</p>
                                </div>
                              </div>
                            </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <form action="" method="post" class="shadow input-line" id="input-line" novalidate>
            {{ form.csrf_token }}
            {{form.input_line(class="input-ln", id="input-ln", placeholder=form.input_line.label.text)}}
            {{form.submit(type="submit", class="btn btn-primary", id="send")}}
        </form>
    </div>
    <script>
        scrl.scrollTop = scrl.scrollHeight;
    </script>
    <script>
        setInterval(function()
        {
            $("#scrl").load(location.href+" #scrl>*","");
        }, 1500)
    </script>
{% endblock %}