{% extends "friends_base.html" %}

{% block friendscontent %}
    <div class="container justify-content-center" id="dialog">
        <div class="row row-cols-auto justify-content-md-center" id="member-line">
          <div class="col-5 justify-content-center"><h4>Name Surname</h4></div>
          <div class="col-5 justify-content-center"><h4>Shortname</h4></div>
        </div>
        <div id="friend-box">
            <ul class="list-group list-group-flush">
                {% for i in friends %}
                    <div class="list-group-item list-group-item-action" aria-current="true">
                        <div class="d-flex w-100 justify-content-between">
                            <div class="container-lg">
                              <div class="row row-cols-auto justify-content-md-center">
                                {% if i[3] != "" %}
                                    {% if i[3] != None %}
                                    <img  id="member-image-2" class="rounded" src="{{url_for('static', filename='user_images/' + i[1] + '/' + i[3])}}">
                                    {% else %}
                                    <img id="member-image-2" class="rounded" src="/static/user_images/anonym.jpg">
                                    {% endif %}
                                {% endif %}
                                <div class="col-5 justify-content-center"><a class="custom-a" href="/profile/{{i[1]}}">{{i[0]}}</a></div>
                                <div class="col-4 justify-content-center"><a class="custom-a" href="/profile/{{i[1]}}">{{i[1]}}</a></div>

                                <div class="col-1 justify-content-end">
                                    <div class="btn-group">
                                        <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                Interact
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li><a class="custom-a" id="dlg" href="/messages/new_dialog/{{i[2]}}">Dialog</a></li>
                                            <li><a class="custom-a" id="dlt" href="/friends/delete/{{i[2]}}">Discard</a></li>
                                        </ul>
                                    </div>
                                    </div>
                              </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}
