{% extends "friends_base.html" %}

{% block friendscontent %}
    <div class="container justify-content-center" id="dialog">
        <form method="post">
        <div class="container-lg">
              <div class="row justify-content-md-center">
                  <div class="col-2"><button type="submit" class="invite-btn">Invite</button></div>
              </div>
        </div>
        <div class="row row-cols-auto justify-content-md-center" id="member-line">
          <div class="col-5 justify-content-center"><h4>Name Surname</h4></div>
          <div class="col-5 justify-content-center"><h4>Shortname</h4></div>
        </div>
        <div id="friend-box">
            <ul class="list-group list-group-flush">
                {% for i in friends %}
                    <div class="list-group-item list-group-item-action" aria-current="true">
                        {% if i[2] != "" %}
                        <div class="form-check" id="check-invite">
                          <input class="form-check-input" type="checkbox" value="no" id="flexCheckDefault" name="invite{{i[2]}}">
                          <label class="form-check-label" for="flexCheckDefault">
                          </label>
                        </div>
                        {% endif %}
                        <div class="d-flex w-100 justify-content-between">
                            <div class="container-lg">
                              <div class="row row-cols-auto justify-content-md-center">
                                <div class="col-5 justify-content-center"><a class="custom-a" href="/profile/{{i[1]}}">{{i[0]}}</a></div>
                                <div class="col-4 justify-content-center"><a class="custom-a" href="/profile/{{i[1]}}">{{i[1]}}</a></div>

                                <div class="col-1 justify-content-end">
                                    <div class="btn-group">
                                        <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                Interact
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li><a class="custom-a" id="dlg" href="/messages/new_dialog/{{i[2]}}">Dialog</a></li>
                                            <li><a class="custom-a" id="dlt" href="/friends/delete/{{i[2]}}">Discard</a></li>
                                        </ul>
                                    </div>
                                    </div>
                              </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </ul>
        </div>
        </form>
    </div>
{% endblock %}
