{% extends "base.html" %}
{% block content %}
<div class="container justify-content-end" id="profile-box">
    <div class="container" id="avatar">
        <div class="row">
        <div class="col-sm-5">
            <div class="card" style="width: 18rem;">
                <img src={{avatar}}>
                {% if user.shortname == current_user.shortname %}
                    <form class="formp" method="post" enctype=multipart/form-data>
                        <input type="file" accept="image/jpeg,image/png,image/bmp" value="Загрузить" name="upload">
                        <button type="submit" class="btn btn-primary">Send</button>
                    </form>
                {% endif %}
            </div>
        </div>
        <div class="info col-sm">
            <h1>{{user.name}} {{user.surname}}</h1><br>
            <h4>About me</h4>
            <div>яwgedfged</div>
            <h4>Registration date</h4>
            <div>{{date}}</div>
            <h4>Address</h4>
            <div>{{user.address}}</div>
        </div>
      </div>
    </div>
    <div class="container-sm" id="avatar-div" align="left">


    </div>

    <div class="info">
        <h4>Friends</h4>
        <ul>
            {% if len_friends <= 5%}
                {% for i in friends%}
                    <li><a href="/profile/{{i.shortname}}" class="nav-btn">{{i.name}}</a></li>
                {% endfor %}
            {% else %}
                {% for i in range(5)%}
                    <li><a href="/profile/{{friends[i].shortname}}" class="nav-btn">{{friends[i].name}}</a></li>
                {% endfor %}
                <a href="/profile/friends/{{current_user.shortname}}" class="nav-btn">All</a>
            {% endif %}
        </ul>
    </div>
</div>
<div class="container justify-content-end">
    <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-inner">
            {% for i in photo %}
                <div class="carousel-item active">
                        <img src={{i}} class="d-block w-100">
                </div>
            {% endfor %}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
<div class="container justify-content-end" id="news">
    <div class="container-lg">
        <div class="row justify-content-md-center">
            <h1 align="center">News</h1>
            {% if current_user.is_authenticated %}
                <div align="center"><button class="new-dialog-btn"><a href="/add_news">New news</a></button></div>
            {% endif %}
        </div>
    </div>
    {% for item in news%}
        <div class="card">
            <h5 class="card-header">{{item.title}}</h5>
            <div class="card-body">
                <h5 class="card-title">
                    <a href="/profile/{{item.user.shortname}}" class="nav-btn">{{item.user.name}}</a>
                    {{item.date}} {{item.time}}
                </h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                {% if current_user.is_authenticated and current_user == item.user %}
                    <div class="d-flex w-100 justify-content-flex-end">
                        <a href="/edit_news/{{ item.id }}" class="btn btn-warning">
                            Изменить
                        </a>
                        <a href="/del_news/{{ item.id }}" class="btn btn-danger">
                            Удалить
                        </a>
                    </div>
                {% endif %}
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}