{% extends "base.html" %}

{% block content %}
    <div class="container justify-content-center">
        <div class="container-lg">
              <div class="row justify-content-md-center">
                  <div class="col-1"><button class="new-dialog-btn"><a href="/friends">New friends</a></button></div>
              </div>
        </div>
    {% for i in friends %}
        <div class="list-group">
          <a href="/profile/{{i.shortname}}" class="list-group-item list-group-item-action" aria-current="true">

            <div class="d-flex w-100 justify-content-start">
             {% if i.avatar != None %}
             <img class="rounded" id="member-image-1" src="{{url_for('static', filename='user_images/' + i.shortname + '/' + i.avatar)}}">
             {% else %}
             <img class="rounded" id="member-image-1" src="/static/user_images/anonym.jpg">
             {% endif %}
              <h5 class="mb-1"><br>{{i.name}} {{i.surname}}</h5>
            </div>
          </a>
        </div>
    {% endfor %}
    </div>
{% endblock %}