{% extends "base.html" %}

{% block content %}
    <div id="form">
        <form action="" method="post" class="shadow form" novalidate>
            {{ form.csrf_token }}
            {{ form.hidden_tag() }}
            <div class="mb-3">
                <h2>Registration</h2>
            </div>
            {% if message %}
            <div class="alert alert-warning" role="alert">
                {{ message }}
            </div>
            {% endif %}
            {% for i in form if i.name != 'csrf_token' and i != form.submit %}
                <div class="mb-3">

                    {{ i.label }}<br>
                    {% if i == form.password or i == form.rep_password %}
                        {{ i(class="form-control", id="form-field", type="password") }}<br>
                    {% else %}
                        {{ i(class="form-control", id="form-field") }}<br>
                    {% endif %}
                    {% for error in i.errors %}
                        <div class="alert alert-danger" role="alert" id="errors">
                            <p>{{error}}</p>
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
            <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>

        </form>
    </div>
{% endblock %}
