{% extends "friends_base.html" %}

{% block friendscontent %}
    <div class="container justify-content-center" id="dialog">
        <form action="" method="post" class="input-line" id="input-line" novalidate>
            {{ form.csrf_token }}
            {{form.input_line(class="input-ln", id="search-ln", placeholder=form.input_line.label.text)}}
            {{form.submit(type="submit", class="btn btn-primary", id="send")}}
        </form>
        <div class="row row-cols-auto justify-content-md-center" id="member-line">
          <div class="col-5 justify-content-center"><h4>Name Surname</h4></div>
          <div class="col-5 justify-content-center"><h4>Shortname</h4></div>
        </div>
        <div id="friend-box">
            <ul class="list-group list-group-flush">
                {% for i in searched_users %}
                    {% if i[2] != current_user.id %}
                    <div class="list-group-item list-group-item-action" aria-current="true">
                        <div class="d-flex w-100 justify-content-between">
                            <div class="container-lg">
                              <div class="row row-cols-auto justify-content-md-center">
                                {% if i[4] != None %}
                                <img id="member-image-2" class="rounded" src="{{url_for('static', filename='user_images/' + i[1] + '/' + i[4])}}">
                                {% else %}
                                <img class="rounded" id="member-image-2" src="/static/user_images/anonym.jpg">
                                {% endif %}
                                <div class="col-5 justify-content-center"><a class="custom-a" href="/profile/{{i[1]}}">{{i[0]}}</a></div>
                                <div class="col-3 justify-content-center"><a class="custom-a" href="/profile/{{i[1]}}">{{i[1]}}</a></div>
                                {% if i[3] == 1 %}
                                <div class="col-2 justify-content-end"><a class="custom-a" id="dlg" href="/friends/makerequest/{{i[2]}}">Send a request</a></div>
                                {% elif i[3] == -1 %}
                                <div class="col-2 justify-content-end"><a class="custom-a" id="req-sent">Request sent</a></div>
                                {% elif i[3] == -2 %}
                                <div class="col-2 justify-content-end"><a class="custom-a" id="dlg" href="/addfriend/{{i[2]}}">Accept request</a></div>
                                {% else %}
                                <div class="col-2 justify-content-end"><a class="custom-a" id="dlg">Your friend</a></div>
                                {% endif %}
                              </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}