{% extends "base.html" %}

{% block content %}
    <div id="form" class="container-xxl justify-content-center">
        <h2 id="finish-label">Success!</h2>
        <h3 id="info-label">{{message}}</h3>
        {% if not current_user.is_authenticated %}
        <div class="success-div justify-content-center">
            <div class="empty-plug"></div>
            <button class="btn-login"><a href="/login" class="a">Sign in</a></button>
            <div class="empty-plug"></div>
        </div>
        {% endif %}
    </div>
{% endblock %}